<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>net.willkoehler.tv-episode-cleaner</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Applications/TVEpisodeCleaner/tv_episode_cleaner</string>
    </array>
    <!-- Run every night at 2:30am -->
    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>2</integer>
      <key>Minute</key>
      <integer>30</integer>
    </dict>
</dict>
</plist>